# Created by https://www.gitignore.io/api/django

.DS_Store
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media

# End of https://www.gitignore.io/api/django

venv
MeeseeksInc/db.sqlite3
MeeseeksInc/inventory/migrations
