 {% load crispy_forms_tags %}
 {% load static %}

 <h3>Create, Add, and Edit Tags</h3>
 <div class="row">
	 <form id="formID-add-tags" request-comment ="" action="{% url 'custom_admin:tags_module' pk %}" method="POST" class="form-horizontal">
{#        {% crispy form %}#}
	 {% csrf_token %}
	 		{{form.create_new_tags.label}}:{{form.create_new_tags}}
	 		<br/>
	 		(Enter a comma separated list to create multiple new tags.)
	 		<br/>
	 		<br/>
	 		{{form.tag_field.label}}
	 		<br/>
	 		{{form.tag_field}}
	 		<br/>
	 		(Choose already existing tags to add to this item.)
	 		<br/>
	 		<br/>
	 		Edit existing tags below. To delete a tag, just delete its text.
	 		<br/>
	 		<br/>
	 	{% for field in form %}
	 		{% if field.label != "Create new tags" and field.label != "Add new tags..."%}
	    	{{field.label}}:{{ field }} 
	    	{% for tag in item_tags%}
	    		{% if tag.tag == field.value %}
	    			<a onclick="return confirm('Do you want to delete this tag?')" href="{% url 'custom_admin:delete_tag' pk=tag.id item=pk %}" class="btn btn-danger">Delete</a>
	    		{% endif %}
	    	{% endfor %}
	    	<br/>
	    	<br/>
	    	{% endif %}
		{% endfor %}
		<input id="formSubmit" type="submit" class="btn btn-submit col-md-offset-2">
	</form>
 </div>