 {% load crispy_forms_tags %}
 {% load static %}

<h3>Edit loan for {{item_name}} </h3>

Quantity of <b>{{item_name}}</b> available: {{num_left}}
<br/>
<br/>
<div class="row">
    <form id="formID-editLoan" request-comment="" action="{% url 'custom_admin:edit_loan' pk %}" class="form-horizontal" method="post">
{#        {% crispy form %}#}
		{% csrf_token %}
		{% if is_asset %}
			<div style="display: none;"><b>{{form.total_quantity.label}}:</b>{{form.total_quantity}}</div>
			<div style="margin-left:5px" ><b>{{form.comment.label}}:</b>{{form.comment}}</div>
		{% else %}
			<div style="margin-left:5px"><b>{{form.total_quantity.label}}:</b>{{form.total_quantity}}</div>
			<div style="margin-left:5px"><b>{{form.comment.label}}:</b>{{form.comment}}</div>
		{% endif %}
        <input id="formSubmit" type="submit" class="btn btn-submit col-md-offset-2">
    </form>
</div>