{% extends 'custom_admin/base.html' %} 
{#put this at the top so that the base template is "base.html"#}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if pending_requests %}
	<h2>Pending Item Requests</h2>
	<ul>
		{% for item_request in pending_requests %}
				<li>Request for {{ item_request.item_name }} (Quantity: {{ item_request.request_quantity }}) @ {{ item_request.time_requested }} FROM {{ item_request.user_id }}</li>
				<a href="{% url 'custom_admin:approve_request' item_request.request_id %}" class="top-menu">Approve this request<span class="glyphicon glyphicon-plus"></span></a>	
				<a href="{% url 'custom_admin:deny_request' item_request.request_id %}" class="top-menu">Deny this request<span class="glyphicon glyphicon-plus"></span></a>			
		{% endfor %}
	</ul>
	<a href="{% url 'custom_admin:approve_all_requests' %}" class="top-menu">Approve all requests<span class="glyphicon glyphicon-plus"></span></a>	
	<a href="{% url 'custom_admin:deny_all_requests' %}" class="top-menu">Deny all requests<span class="glyphicon glyphicon-plus"></span></a>	
{% endif %}
   
{% if disbursed_list %}
	<h2>Disbursed by you</h2>
	{% for disbursed in disbursed_list %}
		<li> Disbursed {{ disbursed.item_name }} to {{ disbursed.user_name }} by {{ disbursed.admin_name }} @ {{ disbursed.time_disbursed }} </li>
	{% endfor %}
{% endif %}
<a href="{% url 'custom_admin:post_new_disburse' %}" class="top-menu">Directly disburse Items to Users here<span class="glyphicon glyphicon-plus"></span></a>	


{% endblock %}
