{% extends 'custom_admin/base.html' %} 
{#put this at the top so that the base template is "base.html"#}

{% block content %}
{########################## MESSAGES (SUCCESS / ERRORS) #####################}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{########################## ALL REQUESTS, SORTED BY ITEM #####################}
{% for request_tuple in request_list %}
	<h3>Item Name: {{ request_tuple.0 }}</h3>
	<ul>
		{% for request in request_tuple.1 %}
			<li> <a href="{% url 'inventory:request_detail' request.request_id %}" class="top-menu"> Request for {{ request.item_name }}: </a> Quantity= {{ request.request_quantity }} Status= {{ request.status }}</li>
			{% if request.status == "Pending" %}
				Reason: {{ request.reason }}
				<a href="{% url 'custom_admin:approve_request' request.request_id %}" class="top-menu">Approve this request<span class="glyphicon glyphicon-plus"></span></a>	
				<a href="{% url 'custom_admin:deny_request' request.request_id %}" class="top-menu">Deny this request<span class="glyphicon glyphicon-plus"></span></a>			
			{% endif %}
		{% endfor %}
	</ul>
{% endfor %}
<a href="{% url 'custom_admin:approve_all_requests' %}" class="top-menu">Approve all requests<span class="glyphicon glyphicon-plus"></span></a>	
<a href="{% url 'custom_admin:deny_all_requests' %}" class="top-menu">Deny all requests<span class="glyphicon glyphicon-plus"></span></a>	

{########################## DISBURSEMENTS #####################}
{% if disbursed_list %}
	<h2>Disbursed by you</h2>
	{% for disbursed in disbursed_list %}
		<li> Disbursed {{ disbursed.item_name }} to {{ disbursed.user_name }} by {{ disbursed.admin_name }} @ {{ disbursed.time_disbursed }} </li>
	{% endfor %}
{% endif %}
{#<a href="{% url 'custom_admin:post_new_disburse' %}" class="top-menu">Directly disburse Items to Users here<span class="glyphicon glyphicon-plus"></span></a>	#}
{% block modal %}
<button id="comment-button" class="btn btn-large">Directly disburse Items to Users here</button>
{% endblock modal %}
{############################# MODAL LOGIC ##############################}
<div id="form-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Direct Disbursement</h4>
            </div>
            <div id="form-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
    $('#comment-button').click(function() {
        $('#form-modal-body').load('disburse/item', function () {
            $('#form-modal').modal('toggle');
            
        });
    });
</script>
{% endblock js %}
{% endblock %}
