{% extends 'custom_admin/base.html' %} 
{#put this at the top so that the base template is "base.html"#}

{% block content %}

{% if pending_requests %}
	<h2>Pending Item Requests</h2>
	<ul>
		{% for item_request in pending_requests %}
				<li>Request for {{ item_request.item_name }} (Quantity: {{ item_request.request_quantity }}) @ {{ item_request.time_requested }}</li>
				<a href="{% url 'custom_admin:approve_request' item_request.request_id %}" class="top-menu">Approve this request<span class="glyphicon glyphicon-plus"></span></a>	
		{% endfor %}
	</ul>
	<a href="{% url 'custom_admin:approve_all_requests' %}" class="top-menu">Approve all requests<span class="glyphicon glyphicon-plus"></span></a>	
{% endif %}

{#{% if user_request_list %}#}
{#	<h2>Pending User Requests</h2>#}
{#	<ul>#}
{#		{% for user_request in user_request_list %}#}
{#			<li>Request for {{ request.item_name }} (Quantity: {{ request.request_quantity }}) @ {{ request.time_requested }}</li>#}
{#		{% endfor %}#}
{#	</ul>#}
	
{#	<a href="{% url 'inventory:post_new_request' %}" class="top-menu">Approve all requests<span class="glyphicon glyphicon-plus"></span></a>	#}
{#{% endif %}#}

{% endblock %}
