{% extends 'custom_admin/base.html' %} 
{% load static %}
{#put this at the top so that the base template is "base.html"#}


{% block content %}

<h2>Log</h2>
{% if log_list %}
	<table id="log-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>Nature of event</th>
			<th>Initiated by</th>
			<th>Item</th>
			<th>Affected User</th>
			<th>Type of Change</th>
			<th>Time Occurred</th>
		</tr>
        </thead>
        
        <tbody>
            {% for instance in log_list %}
				<tr>
					<td>{{ instance.nature_of_event }}</a></td>
					<td>{{ instance.initiating_user }}</td>
					<td>{{ instance.item_name }}</td>
					<td>{{ instance.affected_user }}</td>
					<td>{{ instance.change_occurred }}</td>
					<td>{{ instance.time_occurred }}</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
{% endif %}


<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

 <script>
	$(document).ready(function(){
		$.fn.dataTable.ext.search.push(
		    function( settings, data, dataIndex, originalData ) {
		    	if (settings.nTable.id !== 'inventory-disbursed' && settings.nTable.id !== 'user-table') { // only do this for all tables but disbursed (no tags)
		    		var tag = $('#tag').val();
		    		id = originalData[0].split("\"")[1].split("/")[2]; 
		        	console.log(id);
       			}
		    	// first get tag for this data row
		       	
		        return true;
		    }
		);
	    var logTable = $('#log-table').dataTable();
	     // Event listener to the two range filtering inputs to redraw on input
	    $('#tag, #min, max').keyup( function() {
	        logTable.draw();
	    } );
	});
	$(document).ready(function(){
	    $('#log-table').dataTable();
	});
	</script>

{% endblock %}