{% extends 'custom_admin/base.html' %} 
{% load static %}
{#put this at the top so that the base template is "base.html"#}


{% block content %}

<a href="{% url 'custom_admin:delay_email' %}">delayed email</a>
<h2>Log</h2>

<div align='right'>Start Date : <input id="startdate" type="text" name='startdate' /></div>
{% block js %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function(){ 
    $('#startdate').datepicker({
        dateFormat: 'yy-mm-dd'
    });
    
});
</script>
<br>
{% endblock js %}

{% if log_list %}
	<table id="log-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>Nature of event</th>
			<th>Initiated by</th>
			<th>Item</th>
			<th>Affected User</th>
			<th>Type of Change</th>
			<th>Time Occurred</th>
		</tr>
        </thead>
        
        <tbody>
            {% for instance in log_list %}
				<tr>
					{% if instance.request_id in request_list and instance.nature_of_event == "Request" %}
						<td><a href="{% url 'inventory:request_detail' instance.request_id %}">Request</a></td>
					{% else %}
						<td>{{ instance.nature_of_event }}</td>
					{% endif %}
					<td>{{ instance.initiating_user }}</td>
					{% if instance.item_id in item_list %}
						<td><a href="{% url 'inventory:detail' instance.item_id %}">{{instance.item_name}}</a></td>
					{% elif instance.item_name == None or instance.item_name == "ALL"%}
						<td>{{instance.item_name}}</td>
					{% else %}
						<td>{{ instance.item_name }} (Deleted)</td>
					{% endif %}
					<td>{{ instance.affected_user }}</td>
					<td>{{ instance.change_occurred }}</td>
					<td>
						  <span style="display: none;">{{ instance.time_occurred|date:"c" }}</span>
						  {{ instance.time_occurred }}
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
    
{% else %}
	<h3>There are no log events to display!</h3>
{% endif %}


{########### TODO: FIGURE OUT WHY I NEED THESE JAVASCRIPT FILES HERE FOR IT TO LOAD DATATABLES PROPERLY #######}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
 
 <script>
 
$.fn.dataTable.ext.search.push(
function (settings, data, dataIndex) {
    var startDate = Date.parse($('#startdate').val(), 10);
    var convert = data[5].split('T')[0];
    console.log(data[5].split('T'));
    var columnDate = Date.parse(convert); // use data for the age column
    if ((isNaN(startDate)) || (startDate <= columnDate)) {
        return true;
    }
    return false;
});


	$(document).ready(function(){
	    var table = $('#log-table').dataTable({
	        	"order": [[ 5, "desc" ]]
	        });
	        //"serverSide": true,
		    //"processing": true,
		    //"paging": true,
		    //"searching": { "regex": true },
		    //"ajax": {
		    //    "type": "GET",
		    //    "url": '{% url 'inventory:api_log_list' %}',
		     //   "dataType": "json",
		     //   "contentType": 'application/json; charset=utf-8',
		        //"data": function() { 
		        //			var info = $('#log-table').DataTable().page.info();
		        //			return {'limit': 10,
		        //		 			'offset': info*10};
		        //		},
		        //"success": function(json) {
		        //    console.log(json);
       			//}
       		//}
	    	//);
		$('#startdate').change(function () {
	    	table.fnDraw();
		});
	});
	</script>

{% endblock %}