{% extends my_template %} 
{% load rest_framework %}
{% load static %}
{% load index %}

{% block content %}

<center> <h1>  Asset: {{ asset.item }} </h1> </center> 
{#<center> <h3>  Quantity Remaining of Item: {{ loan.item_name.quantity }} </h3> </center> #}

<table id="asset-detail-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
    <th>Asset Tag</th>
    <th>Model Number</th>
    <th>Description</th>
{#	TODO: add custom fields here#}
	</tr>
</thead>
<tbody>
		<tr>
			<td>{{ asset.asset_id }}</td>
			<td>{{ asset.item.model_number }}</td>
			<td>{{ asset.item.description }}</td>
		</tr>
</tbody>
</table>

{% endblock %}