{% extends my_template %} 
{% load rest_framework %}
{% load static %}
{% load index %}

{% block content %}

<center> <h1>  Asset: {{ asset.item }} </h1> </center> 

<h3><b>Model Number:</b> {{ asset.item.model_number }}</h3>
<h3><b>Description:</b> {{ asset.item.description }}</h3>
<br>
<table id="asset-detail-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
    <th>Asset Tag</th>
    {% for field in asset_custom_fields%}
		<th>{{field.field_name}}</th>
	{% endfor %}
	</tr>
</thead>
<tbody>
		<tr>
			<td>{{ asset.asset_id }}</td>
			
				{% for field in asset_custom_fields%}
					<td default = "">
						{% for value in asset_custom_vals%}
							{% if value.asset == asset and value.field == field %}
								{{value.value}}
							{% endif %}
						{% endfor %}
					</td>
				{% endfor %}
				
		</tr>
</tbody>
</table>

{% if asset.loan %}
<h3>Loan Information</h3>
<table id="inventory-loan" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
<thead>
        <tr>
        <th>Loaned To:</th>
		<th>Loaned By:</th>
		<th>Item:</th>
		<th>Quantity:</th>
		<th>Admin Comment:</th>
		<th>Time Loaned:</th>
		</tr>
    </thead>
    <tbody>
    		<tr>
    			<td>{{asset.loan.admin_name}}</td>
				<td>{{asset.loan.user_name}}</td>
				<td>{{asset.loan.item_name}}</td>
				<td>{{asset.loan.total_quantity}}</td>
				<td>{{asset.loan.comment}}</td>
				<td>{{asset.loan.time_loaned}}</td>
			</tr>
    </tbody>
</table>
{% endif %}

{% if asset.disbursement %}
<h3>Disbursement Information</h3>
<table id="inventory-disbursement" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
		<th>Item Name</th>
		<th>Quantity</th>
		<th>Disbursed to</th>
		<th>Disbursed by</th>
		<th>User Reason</th>
		<th>Admin Comment</th>
		<th>Time Disbursed</th>
	</tr>
</thead>
<tbody>
		<tr>
			<td>{{ asset.disbursement.item_name }}</td>
			<td>{{ asset.disbursement.total_quantity }}</td>
			<td>{{ asset.disbursement.user_name }}</td>
			<td>{{ asset.disbursement.admin_name }}</td>
			<td>{{ asset.disbursement.orig_request.reason}}</td>
			<td>{{ asset.disbursement.comment}}</td>
			<td>
		  		<span style="display: none;">{{ disbursed.time_disbursed|date:"c" }}</span>
				  {{ disbursed.time_disbursed }}
			</td>
		</tr>
</tbody>
</table>
{% endif %}

{% endblock %}