{% load static %}
<html>
    <head>
        <title>Meeseeks Inventory</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    </head>
    {% if user.is_authenticated %}
    	<p>Welcome, {{ user.username }} </p>
	{% else %}
    	<p>Welcome, Guest {{user.username }}</p>
	{% endif %}
    <body>
    	<div class="page-header">
        	<h1> ECE458 Inventory </h1>
        	<div align="right" style="border:2px">
    			<a href="{% url 'logout' %}?next=/"> Logout</a>
    		</div>
    	</div>
    	{% block content %}
        {% endblock %}
    </body>
</html>
