{% extends 'inventory/base.html' %} 

<link href="/static/css/custom.css" rel="stylesheet">

{#put this at the top so that the base template is "base.html"#}
{% block content %}

<center> <h1>  Item: {{ item.item_name }} </h1> </center> 

			</table>
				<table id="item_detail" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
					<th>Quantity:</th>
					<th>Model Number:</th>
					<th>Description:</th>
					{% for field in custom_fields%}
					<th>{{field.field_name}}</th>
					{% endfor %}
				</tr>
		        </thead>
		        <tbody>
		        		<tr>
		        			<td>{{ item.quantity }}</td>
							<td>{{ item.model_number }}</td>
							<td>{{ item.description }}</td>
							{% for field in custom_fields%}
							<td default = "">
							{% for value in custom_vals%}
								{% if value.item == item and value.field == field %}
									{% if field.field_type == "Short"%}
										{{value.field_value_short_text}}
									{% endif %}
									{% if field.field_type == "Long"%}
										{{value.field_value_long_text}}
									{% endif %}
									{% if field.field_type == "Int"%}
										{% if value.field_value_integer != None%}
											{{value.field_value_integer}}
										{% else %}
											{{""}}
										{% endif %}
									{% endif %}
									{% if field.field_type == "Float"%}
										{% if value.field_value_floating != None%}
											{{value.field_value_floating}}
										{% else %}
											{{""}}
										{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}
							</td>
					{% endfor %}
						</tr>
		        </tbody>
		    </table>

<br/>
    
{% if tag_list%}
	<table id="inventory-item" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
			<th>Tag Name</th>
			<th>Tag ID</th>
			{% if user.is_staff %}
			<th>Actions</th>
			{% endif %}
			</tr>
        </thead>
     <tbody>
	{% for oneTag in tag_list %}
		<script>
		function tagEvent(){
    		if (confirm("Delete this tag?")) {
    			window.location='{% url 'custom_admin:delete_tag' pk=oneTag.id item=item.item_id %}';
    		}
		}
		</script>
		<script> 
		function tagEvent3() {
			window.location='{% url 'custom_admin:edit_tag' pk=oneTag.id item=item.item_id %}';
		}
		</script>
		
				<tr>
					<td>{{ oneTag.tag }}</td>
					<td>{{ oneTag.id }}</td>
					{% if user.is_staff %}
					<td>						

		 			{#<a value="Edit this tag" type="button" href="{% url 'custom_admin:edit_tag' pk=oneTag.id item=item.item_id %}" class="btn btn-primary btn-sm">Edit Tag</a>#}
		 			
		 			{% block tag_edit_module %}
					<a id = "specificTagEdit" tag-id="{{ oneTag.id }}" item-id="{{ item.item_id }}" class="specificTagEdit btn btn-primary btn-sm">Edit Tag</a>
					{% endblock tag_edit_module %}
		 			
		 			<a value="Delete this tag" href="{% url 'custom_admin:delete_tag' pk=oneTag.id item=item.item_id %}" onclick="return confirm('Do you want to delete this tag?')" class="btn btn-primary btn-sm">Delete Tag</a>

		 			</td> 
		 			{% endif %}
				</tr>
	
	{% endfor %}
	</tbody>
    </table>
</div>

{% endif %} 

<div>
	{% if user.is_staff %}
	<script>
	function clickEvent(){
	    if (confirm("Delete this item?")) {
	    	window.location='{% url 'custom_admin:delete_item' item.item_id %}';
	    }
	}
	</script>
	
	<script>
	function clickEvent2() {
		window.location='{%url 'custom_admin:edit_item' item.item_id %}';
	}
	</script>
	
	<script>
	function clickEvent3() {
		window.location='{%url 'custom_admin:add_tags' item.item_id %}';
	}
	</script>
	
		{#<button value="Edit Item" onclick="clickEvent2();"type="button" class="btn btn-primary btn-md">Edit Item</button>#}
	   	{#<button value="Add or Create Tags" onclick="clickEvent3();" type="button" class="btn btn-primary btn-md">Add, Create, or Edit Tags</button>#}

{% block edit_specific_item %}
<a id = "edit" item-id = "{{ item.item_id }}" class="edit btn btn-primary">Edit Item</a>									
{% endblock edit_specific_item %}
	    
{% block tag_item %}
<a id = "tag" item-id = "{{ item.item_id }}" class="tag btn btn-primary">Add, Create, or Edit Tags</a>									
{% endblock tag_item %}
	
	{% if user.is_superuser %}
	<button value="Delete Item" onclick="clickEvent();" type="button" class="btn btn-danger btn-md">Delete Item</button>
	{% endif %}
	
</div>

<br/>

{% endif %}

{% block request_specific_item %}
<a id = "request" item-id = "{{ item.item_id }}" class="request btn btn-info">Click Here to Request this Item</a>									
{% endblock request_specific_item %}

{% if user.is_staff %}
	{% block disbursement_direct %}
	<a id = "disbursement" item-id = "{{ item.item_id }}" class="disbursement btn btn-info">Click Here to Directly Disburse Item to User</a>									
	{% endblock disbursement_direct %}
{% endif %}


<br/>
<br/>

<form id="addToCart" class="form-horizontal" method="post">
	{% csrf_token %}
   	{{form.as_p}}
    <input id="formSubmit" type="submit" class="btn btn-submit btn-success col-md-offset-2" value="Add Item To Cart">
</form>

{% if request_list%}
<h2>Outstanding Requests for This Item:  </h2>
	<table id="inventory-request-indiv-item" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		            <th>Status</th>
					<th>Time Requested</th>
					<th>Requested by</th>
					<th>Quantity</th>
					<th>Reason</th>
					<th>Actions</th>
				</tr>
		        </thead>
		        <tbody>
		        	{% for request in request_list %}
		        		<tr class="clickable-row" data-href="{% url 'inventory:request_detail' request.request_id %}">
							<td>{{ request.status }}</td>
							<td>{{ request.time_requested }}</td>
							<td>{{ request.user_id }}</td>
							<td>{{ request.request_quantity}}</td>
							<td>{{ request.reason }}</td>
							<td>
								{% if user.is_staff %}
								{# TODO: ADD ACCEPT AND DENY MODALS#}
									{% block comment_accept %}
									<a id = "accept" request-id="{{ request.request_id }}" class="accept btn btn-success">Approve</a>
									{% endblock comment_accept %}
									{% block comment_deny %}
									<a id = "deny" request-id="{{ request.request_id }}" class="deny btn btn-warning">Deny</a>	
									{% endblock comment_deny %}
									<a onclick="return confirm('Confirm request cancel?')" href="{% url 'inventory:request_cancel' request.request_id %}" class="btn btn-danger">Cancel</a>
								{% else %}
									<a href="{% url 'inventory:request_edit' request.request_id %}" class="btn btn-info">Edit</a>
									<a onclick="return confirm('Confirm request cancel?')" href="{% url 'inventory:request_cancel' request.request_id %}" class="btn btn-danger">Cancel</a>
									<script>
										function clickEvent2() {
										window.location='{%url 'inventory:request_edit' request.request_id %}';
									}
									</script>
	
									<button value="Edit Request" onclick="clickEvent2();"type="button" class="btn btn-primary btn-md">Edit Request</button>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
		        </tbody>
		    </table>
	
	<script>
	$('#inventory-request-indiv-item tr td:not(:last-child)').click(function ()    {
	 window.document.location = $(this).parent().data('href');
	});
	$(document).ready(function(){
	    $('#inventory-request-indiv-item').dataTable();
	});
	</script>
		
	
{############################# REQUEST ACCEPT COMMENT MODAL LOGIC ##############################}
<div id="form-modal-accept" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comment for Request Accept</h4>
            </div>
            <div id="form-modal-body-accept" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-approve %}
<script>
    $('.accept').click(function() {
    	request_id = $(this).attr("request-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-accept').load(('../../customadmin/request/accept/addcomment/'+request_id), function () {
        	$('#formID-comment-accept').attr("request-comment", request_id);
            $('#form-modal-accept').modal('show');
        });
    });
</script>
{% endblock js-approve %}

{############################# REQUEST DENIAL COMMENT MODAL LOGIC ##############################}
<div id="form-modal-deny" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comment for Request Deny</h4>
            </div>
            <div id="form-modal-body-deny" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-deny %}
<script>
    $('.deny').click(function() {
    	request_id = $(this).attr("request-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-deny').load(('../../customadmin/request/deny/addcomment/'+request_id), function () {
        	$('#formID-comment-deny').attr("request-comment", request_id);
            $('#form-modal-deny').modal('toggle');
        });
    });
</script>
{% endblock js-deny %}
{% endif %} 

{############################# ITEM REQUEST QUANTITY AND COMMENT MODAL LOGIC ##############################}
<div id="form-modal-request" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Request {{ item.item_name }}</h4>
            </div>
            <div id="form-modal-body-request" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-request %}
<script>
    $('.request').click(function() {
    	item_id = $(this).attr("item-id");
        $('#form-modal-body-request').load(('../../post/request/'+ item_id), function () {
            $('#form-modal-request').modal('toggle');
        });
    });
</script>

{% endblock js-request %}

{############################# DIRECT DISBURSEMENT MODAL LOGIC ##############################}
<div id="form-modal-disbursement" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Directly Disburse {{ item.item_name }}</h4>
            </div>
            <div id="form-modal-body-disbursement" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-disbursement %}
<script>
    $('.disbursement').click(function() {
    	item_id = $(this).attr("item-id");
        $('#form-modal-body-disbursement').load(('../../customadmin/disburse/item/'+ item_id), function () {
            $('#form-modal-disbursement').modal('toggle');
        });
    });
</script>

{% endblock js-disbursement %}

{############################# EDIT TAG LOGIC ##############################}
<div id="form-modal-edit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit {{ item.item_name }}</h4>
            </div>
            <div id="form-modal-body-edit" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-tag %}
<script>
    $('.tag').click(function() {
    	item_id = $(this).attr("item-id");
        $('#form-modal-body-edit').load(('../../customadmin/edit/tags/'+item_id), function () {
            $('#form-modal-edit').modal('toggle');
        });
    });
</script>

{% endblock js-tag %}


{############################# EDIT ITEM LOGIC ##############################}
<div id="form-modal-edit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit {{ item.item_name }}</h4>
            </div>
            <div id="form-modal-body-edit" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-edit %}
<script>
    $('.edit').click(function() {
    	item_id = $(this).attr("item-id");
        $('#form-modal-body-edit').load(('../../customadmin/edit/item/module/'+item_id), function () {
            $('#form-modal-edit').modal('toggle');
        });
    });
</script>

{% endblock js-edit %}

{############################# EDIT SPECIFIC TAG LOGIC ##############################}
<div id="form-modal-edit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit This Tag</h4>
            </div>
            <div id="form-modal-body-edit" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-specifictag %}
<script>
    $('.specificTagEdit').click(function() {
    	tag_id = $(this).attr("tag-id");
    	item_id = $(this).attr("item-id");
        $('#form-modal-body-edit').load(('../../customadmin/edit/specific/tag/'+tag_id+'/'+item_id), function () {
            $('#form-modal-edit').modal('toggle');
        });
    });
</script>

{% endblock js-specifictag %}



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



{% if user.is_staff %}
{#################### Log table #####################}
<br><br><br>
<button id='togglebutton'>Show/hide log</button>
<br>
<div id='logtable_toggle'>
	<div>Start Date : <input id="startdate" type="text" name='startdate' /></div>
	{% block js %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$(function(){ 
	    $('#startdate').datepicker({
	        dateFormat: 'yy-mm-dd'
	    });
	    
	});
	</script>
	<br>
	{% endblock js %}
	
	<table id="log-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	            <th>Nature of event</th>
				<th>Initiated by</th>
				<th>Item</th>
				<th>Affected User</th>
				<th>Type of Change</th>
				<th>Time Occurred</th>
			</tr>
	        </thead>
	        
	        <tbody>
	            {% for instance in log_list %}
					<tr>
						{% if instance.request_id in request_list and instance.nature_of_event == "Request" %}
							<td><a href="{% url 'inventory:request_detail' instance.request_id %}">Request</a></td>
						{% else %}
							<td>{{ instance.nature_of_event }}</td>
						{% endif %}
						<td>{{ instance.initiating_user }}</td>
						<td>{{instance.item_name}}</td>
						<td>{{ instance.affected_user }}</td>
						<td>{{ instance.change_occurred }}</td>
						<td>{{ instance.time_occurred }}</td>
					</tr>
				{% endfor %}
	        </tbody>
	    </table>
</div>
{% endif %}
    
{########### TODO: FIGURE OUT WHY I NEED THESE JAVASCRIPT FILES HERE FOR IT TO LOAD DATATABLES PROPERLY #######}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
 
 <script>
 
$.fn.dataTable.ext.search.push(
function (settings, data, dataIndex) {
    var startDate = Date.parse($('#startdate').val(), 10);
    var convert = data[5].substring(0,14);
    var columnDate = Date.parse(convert); // use data for the age column
    if ((isNaN(startDate)) || (startDate <= columnDate)) {
        return true;
    }
    return false;
});
	$(document).ready(function(){
	    var table = $('#log-table').dataTable({
	        "order": [[ 5, "desc" ]]
	    });
		$('#startdate').change(function () {
	    	table.fnDraw();
		});
		document.getElementById('logtable_toggle').style.display='none';
	});
	
	var button = document.getElementById('togglebutton');
	button.onclick = function() {
	    var div = document.getElementById('logtable_toggle');
	    if (div.style.display !== 'none') {
	        div.style.display = 'none';
	    }
	    else {
	        div.style.display = 'block';
	    }
};
	</script>
	
{% endblock %}