{% extends 'inventory/base.html' %} 
{#put this at the top so that the base template is "base.html"#}

{% block content %}

<h1>{{ item.item_name }}</h1>
<h2>Quantity: {{ item.quantity }} </h2>
<h2>Tags: 
{% if tag_list%}
	{% for oneTag in tag_list %}
		{{oneTag.tag}},
	{% endfor %}
{% endif %} 
{% if last_tag%}
	{{last_tag.tag}}
{% endif %}
</h2>
<h2>Outstanding Requests for This Item:  </h2>
{% if request_list%}
	{% for request in request_list %}
		<li> <a href="{% url 'inventory:request_detail' request.request_id %}" class="top-menu"> Request for {{ request.item_name }}: </a> Quantity= {{ request.request_quantity }} Status= {{ request.status }}</li>
	{% endfor %}
{% endif %} 

{% if user.is_staff %}
<script>
function clickEvent(){
    if (confirm("Delete this item?")) {
    	window.location='{% url 'custom_admin:delete_item' item.item_id %}';
    }
}
</script>
    <a href="{% url 'custom_admin:edit_item' item.item_id %}">Edit this item</a>
    <input type="button" value="Delete" onclick="clickEvent();"/>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	
{% endblock %}



