{% extends 'inventory/base.html' %} 
{#put this at the top so that the base template is "base.html"#}

{% block content %}
<h1>{{ item.item_name }}</h1>
<h2>Quantity: {{ item.quantity}} </h2>
<h2>Price: ${{ item.price }} </h2>
<h2>Tag: {{ item.tag }} </h2>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



{#<form action="{% url 'inventory:vote' instance.instance_id %}" method="post">#}
{#{% csrf_token %}#}
{#{% for choice in question.choice_set.all %}#}
{#    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />#}
{#    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />#}
{#{% endfor %}#}
{#<input type="submit" value="Vote" />#}
{#</form>#}
	
{% endblock %}



