{% extends 'inventory/base.html' %} 
{#put this at the top so that the base template is "base.html"#}
  
{% block content %}

{% if item_list %}
	<h2>All Inventory Items</h2>
	<table id="inventory-item" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
			<th>Item Name</th>
			<th>Quantity</th>
			<th>Item Model Number</th>
			<th>Item Description</th>
			{% for field in custom_fields%}
				<th>{{field.field_name}}</th>
			{% endfor %}
		</tr>
        </thead>
        <tbody>
            {% for item in item_list %}
				<tr>
					<td><a href="{% url 'inventory:detail' item.item_id %}">{{ item.item_name }}</a></td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.model_number }}</td>
					<td>{{ item.description }}</td>
					{% for field in custom_fields%}
						<td default = "">
						{% for value in custom_vals%}
							{% if value.item == item and value.field == field %}
									{% if field.field_type == "Short"%}
										{{value.field_value_short_text}}
									{% endif %}
									{% if field.field_type == "Long"%}
										{{value.field_value_long_text}}
									{% endif %}
									{% if field.field_type == "Int"%}
										{% if value.field_value_integer != None%}
											{{value.field_value_integer}}
										{% else %}
											{{""}}
										{% endif %}
									{% endif %}
									{% if field.field_type == "Float"%}
										{% if value.field_value_floating != None%}
											{{value.field_value_floating}}
										{% else %}
											{{""}}
										{% endif %}
									{% endif %}
							{% endif %}
						{% endfor %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
        </tbody>
    </table>
    
    <a class="btn btn-info" href="{% url 'inventory:post_new_request' %}" role="button">Request an Item</a>
	
	
	{% if request_list %}
		<h2>Requests made by you</h2>
		<ul class="nav nav-tabs">
		  <li><a href="#all" data-toggle="tab">All Requests</a></li>
		  <li><a href="#accepted" data-toggle="tab">Approved</a></li>
		  <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
		  <li><a href="#denied" data-toggle="tab">Denied</a></li>
		</ul>
		<div class="tab-content">
	        <div class="tab-pane" id="all">
	            <table border="0" cellspacing="5" cellpadding="5">
			        <tbody>
				        <tr>
				            <td>Tags:</td>
				            <td><input type="text" id="tag" name="tag"></td>
				        </tr>
		    		</tbody>
		    	</table>
				<table id="inventory-request-all" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
					<th>Request</th>
					<th>Quantity</th>
					<th>Status</th>
					<th>Student Reason</th>
					<th>Admin Comment</th>
					<th>Time Requested</th>
				</tr>
		        </thead>
		        <tbody>
		        	{% for request in request_list %}
		        		<tr>
							<td><a href="{% url 'inventory:request_detail' request.request_id %}">Request for {{ request.item_name }}:</a></td>
							<td>{{ request.request_quantity }}</td>
							<td>{{ request.status }}</td>
							<td>{{ request.reason}}</td>
							<td>{{ request.comment }}</td>
							<td>{{ request.time_requested }}</td>
						</tr>
					{% endfor %}
		        </tbody>
		    </table>
	        </div>
	        <div class="tab-pane" id="accepted">
	            <table border="0" cellspacing="5" cellpadding="5">
			        <tbody>
				        <tr>
				            <td>Tags:</td>
				            <td><input type="text" id="tag" name="tag"></td>
				        </tr>
		    		</tbody>
		    	</table>
				<table id="inventory-request-approved" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
					<th>Request</th>
					<th>Quantity</th>
					<th>Status</th>
					<th>Student Reason</th>
					<th>Admin Comment</th>
					<th>Time Requested</th>
				</tr>
		        </thead>
		        <tbody>
		        	{% for request in approved_request_list %}
		        		<tr>
							<td><a href="{% url 'inventory:request_detail' request.request_id %}">Request for {{ request.item_name }}:</a></td>
							<td>{{ request.request_quantity }}</td>
							<td>{{ request.status }}</td>
							<td>{{ request.reason}}</td>
							<td>{{ request.comment }}</td>
							<td>{{ request.time_requested }}</td>
						</tr>
					{% endfor %}
		        </tbody>
		    </table>
	        </div>
	        <div class="tab-pane active" id="pending">
	            <table border="0" cellspacing="5" cellpadding="5">
			        <tbody>
				        <tr>
				            <td>Tags:</td>
				            <td><input type="text" id="tag" name="tag"></td>
				        </tr>
		    		</tbody>
		    	</table>
				<table id="inventory-request-pending" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
					<th>Request</th>
					<th>Quantity</th>
					<th>Status</th>
					<th>Student Reason</th>
					<th>Admin Comment</th>
					<th>Time Requested</th>
					<th>Actions</th>
				</tr>
		        </thead>
		        <tbody>
		        	{% for request in pending_request_list %}
		        		<tr>
							<td><a href="{% url 'inventory:request_detail' request.request_id %}">Request for {{ request.item_name }}:</a></td>
							<td>{{ request.request_quantity }}</td>
							<td>{{ request.status }}</td>
							<td>{{ request.reason}}</td>
							<td>{{ request.comment }}</td>
							<td>{{ request.time_requested }}</td>
							<td>
								<a href="{% url 'inventory:request_edit_from_main' request.request_id %}" class="btn btn-primary">Edit</a>
								<a onclick="return confirm('Confirm request cancel?')" href="{% url 'inventory:request_cancel' request.request_id %}" class="btn btn-danger">Cancel</a>
							</td>
						</tr>
					{% endfor %}
		        </tbody>
		    </table>
	        </div>
	        <div class="tab-pane" id="denied">
	            <table border="0" cellspacing="5" cellpadding="5">
			        <tbody>
				        <tr>
				            <td>Tags:</td>
				            <td><input type="text" id="tag" name="tag"></td>
				        </tr>
		    		</tbody>
		    	</table>
				<table id="inventory-request-denied" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
					<th>Request</th>
					<th>Quantity</th>
					<th>Status</th>
					<th>Student Reason</th>
					<th>Admin Comment</th>
					<th>Time Requested</th>
				</tr>
		        </thead>
		        <tbody>
		        	{% for request in denied_request_list %}
		        		<tr>
							<td><a href="{% url 'inventory:request_detail' request.request_id %}">Request for {{ request.item_name }}:</a></td>
							<td>{{ request.request_quantity }}</td>
							<td>{{ request.status }}</td>
							<td>{{ request.reason}}</td>
							<td>{{ request.comment }}</td>
							<td>{{ request.time_requested }}</td>
						</tr>
					{% endfor %}
		        </tbody>
		    </table>
	        </div>
		</div>
	{% endif %}
	
	{% if disbursed_list %}
		<h2>Disbursed to you</h2>
		<table id="inventory-disbursed" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
					<th>Item Name</th>
					<th>Quantity</th>
					<th>Disbursed by</th>
					<th>Admin Comment</th>
					<th>Time Disbursed</th>
				</tr>
		        </thead>
		        <tbody>
		        	{% for disbursed in disbursed_list %}
		        		<tr>
							<td>{{ disbursed.item_name }}</td>
							<td>{{ disbursed.total_quantity }}</td>
							<td>{{ disbursed.admin_name }}</td>
							<td>{{ disbursed.comment}}</td>
							<td>{{ disbursed.time_disbursed }}</td>
						</tr>
					{% endfor %}
		        </tbody>
		    </table>
	{% endif %}
	
    <script>
	$(document).ready(function(){
		$.fn.dataTable.ext.search.push(
		    function( settings, data, dataIndex, originalData ) {
		    	if (settings.nTable.id !== 'inventory-disbursed') { // only do this for all tables but disbursed (no tags)
		    		var tag = $('#tag').val();
		    		id = originalData[0].split("\"")[1].split("/")[2]; 
		        	console.log(id);
       			}
		    	// first get tag for this data row
		       	
		        return true;
		    }
		);
	    var itemTable = $('#inventory-item').dataTable();
	     // Event listener to the two range filtering inputs to redraw on input
	    $('#tag, #min, max').keyup( function() {
	        itemTable.draw();
	    } );
	});
	$(document).ready(function(){
	    $('#inventory-request-all').dataTable({
	        "order": [[ 5, "desc" ]]
	    });
	    $('#inventory-request-approved').dataTable({
	        "order": [[ 5, "desc" ]]
	    });
	    $('#inventory-request-pending').dataTable({
	        "order": [[ 5, "desc" ]]
	    });
	    $('#inventory-request-denied').dataTable({
	        "order": [[ 5, "desc" ]]
	    });
	    $('#inventory-disbursed').dataTable({
	        "order": [[ 4, "desc" ]]
	    });
	});
	</script>
{% else %}
	<p class="lead" style="padding: 15px 15px">No items are available.</p>
	
{% endif %}

{% endblock %}
