{% extends 'inventory/base.html' %} 
{#put this at the top so that the base template is "base.html"#}

{% block content %}

<a href="{% url 'inventory:search_setup' %}" class="top-menu"> Search Parameters </a>

{% if item_list %}
	<h2>All Inventory Items</h2>
	<table class = "table table-hover">
	<thead>
		<tr>
			<th>Item Name</th>
			<th># Item</th>
			<th>Item Location</th>
			<th>Item Model Number</th>
			<th>Item Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for item in item_list %}
				<tr>
					<td><a href="{% url 'inventory:detail' item.item_id %}">{{ item.item_name }}</a></td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.location }}</td>
					<td>{{ item.model_number }}</td>
					<td>{{ item.description }}</td>
				</tr>
			{% endfor %}
		</tr>
	</tbody>
	</table>
	
	{% if request_list %}
		<h2>Requests</h2>
		<ul>
		{% for request in request_list %}
				<li> <a href="{% url 'inventory:request_detail' request.request_id %}" class="top-menu"> Request for {{ request.item_name }}: </a> Quantity= {{ request.request_quantity }} Status= {{ request.status }}, Reason: {{ request.reason}}, ADMIN COMMENT: {{ request.comment }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	
	<a href="{% url 'inventory:post_new_request' %}" class="top-menu"> Click Here to Request an Item <span class="glyphicon glyphicon-plus"></span></a>	
	
	{% if disbursed_list %}
		<h2>Disbursed to you</h2>
		{% for disbursed in disbursed_list %}
			<li> Disbursed <b>{{ disbursed.total_quantity }}</b> {{ disbursed.item_name }} to {{ disbursed.user_name }} by {{ disbursed.admin_name }} @ {{ disbursed.time_disbursed }}, ADMIN COMMENT : {{ disbursed.comment }}  </li>
		{% endfor %}
	{% endif %}
	
{% else %}
	<p>No items are available.</p>
{% endif %}

{% endblock %}
