{% extends 'inventory/base.html' %} 
{#put this at the top so that the base template is "base.html"#}

{% block content %}
{% if cart_list %}
	<h2>All Items in Cart</h2>
	<table id="inventory-cart" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
			<th>Item Name</th>
			<th># Item</th>
			<th>Actions </th>
		</tr>
        </thead>
        <tbody>
            {% for cart_item in cart_list %}
				<tr>
					<td><a href="{% url 'inventory:detail' cart_item.item.item_id %}">{{ cart_item.item.item_name }}</a></td>
					<td>{{ cart_item.quantity }}</td>
					<td>
{#						<form id="addToCart" class="form-horizontal" method="post">#}
{#							{% csrf_token %}#}
{#						   	{{form.as_p}}#}
{#						    <input id="formSubmit" type="submit" class="btn btn-submit col-md-offset-2" value="Add Item To Cart">#}
{#						</form>#}
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
{#    <div class="panel-group" id="accordion">#}
{#    <div class="panel panel-default">#}
{#        <div class="panel-heading">#}
{#            <h4 class="panel-title">#}
{#                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">#}
{#                    Collapsible Group Item #1#}
{#                </a>#}
{#            </h4>#}
{#        </div>#}
{#        <div id="collapseOne" class="panel-collapse collapse in">#}
{#            <div class="panel-body">#}
{#                Anim pariatur cliche reprehenderit#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}



