{% extends my_template %} 
{% load rest_framework %}
{% load static %}
{% load index %}

{% block content %}

<center> <h1>  Loan for: {{ loan.item_name }} </h1> </center> 
<center> <h3>  Quantity Remaining of Item: {{ loan.item_name.quantity }} </h3> </center> 
{% if loan.status == "Checked Out"%}
<center> <h1 style="color:yellow">  Status: {{ loan.status }} </h1> </center> 
{% endif %}
{% if loan.status == "Checked In"%}
<center> <h1 style="color:green">  Status: {{ loan.status }} </h1> </center> 
{% endif %}
{% if loan.status == "Backfilled"%}
<center> <h1 style="color:green">  Status: {{ loan.status }} </h1> </center> 
{% endif %}

				<table id="loan-detail-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		            <th>Loaned To:</th>
					<th>Loaned By:</th>
					<th>Item:</th>
					<th>Quantity:</th>
					<th>Admin Comment:</th>
					<th>Time Loaned:</th>
					</tr>
		        </thead>
		        <tbody>
		        		<tr>
		        			<td>{{loan.admin_name}}</td>
							<td>{{loan.user_name}}</td>
							<td>{{loan.item_name}}</td>
							<td>{{loan.total_quantity}}</td>
							<td>{{loan.comment}}</td>
							<td>{{loan.time_loaned}}</td>
						</tr>
		        </tbody>
		    </table>
		    
{% if user.is_staff %}	 
{% if loan.item_name.is_asset %}
{% if loan.status == "Checked Out" %}
{% block checkIn-with-assets %}
	<a id = "checkIn-assets" loan-id="{{ loan.loan_id }}" class="checkIn-assets btn btn-success">Check In</a>	
{% endblock checkIn-with-assets %}
{% block convert-with-assets %}
	<a id = "convert-assets" loan-id="{{ loan.loan_id }}" class="convert-assets btn btn-info">Convert Loan</a>	
{% endblock convert-with-assets %}
{% endif %}
{% else %}
{% if loan.status == "Checked Out" %}
	{% block checkIn %}
		<a id = "checkIn" loan-id="{{ loan.loan_id }}" class="checkIn btn btn-success">Check In</a>	
	{% endblock checkIn %}
	{% block convert %}
	<a id = "convert" loan-id="{{ loan.loan_id }}" class="convert btn btn-info">Convert Loan</a>
	{% endblock convert %}
{% endif %}
{% endif %} 
{% endif %} 

{% if user.get_username == loan.user_name %}
	{% if loan.backfill_status != 'Completed'%}
		{% if loan.backfill_status != 'In Transit'%}
			{% block backfillRequest %}
				<a id = "backfillRequest" loan-id="{{ loan.loan_id }}" class="backfillRequest btn btn-info">Backfill Loan</a>
			{% endblock backfillRequest %}
		{% endif %}
	{% endif %}
{% endif %}

{% if user.is_staff %}
{% block  editLoan %}
	<a id = "editLoan" loan-id="{{ loan.loan_id }}" class="editLoan btn btn-primary">Edit Loan</a>	
{% endblock editLoan %}
{% endif %}
		    
{% if assets %}
<h3> Assets Loaned </h3>
    <table id="loan-assets-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>Asset Tag:</th>
            {% for field in asset_custom_fields%}
				<th>{{field.field_name}}</th>
			{% endfor %}
            {% if user.is_staff %}
					<th>Actions</th>
			{% endif %}
			</tr>
        </thead>
        <tbody>
        	{% for asset in assets %}
        		<tr>
        			<td><a href="{% url 'inventory:asset_detail' asset.asset_id %}">{{ asset.asset_tag }}</a></td>
					{% for field in asset_custom_fields%}
								<td default = "">
									{% for value in asset_custom_vals%}
										{% if value.asset == asset and value.field == field %}
											{% if value.value != None %}
											{{value.value}}
											{% endif %}
										{% endif %}
									{% endfor %}
								</td>
							{% endfor %}
					{% if user.is_staff %}
							<td>
								{%if not asset.disbursement%}
								{% block assetEdit %}
										<a id = "assetEdit" asset-id="{{ asset.asset_id }}" class="assetEdit btn btn-primary">Edit</a>	
								{% endblock assetEdit %}
								{% block assetLog %}
										<a id = "assetLog" asset-id="{{ asset.asset_id }}" class="assetLog btn btn-info">Log Loss/Destruction</a>	
								{% endblock assetLog %}
								<a onclick="return confirm('Are you sure you want to delete this asset?')" href="{% url 'custom_admin:delete_asset' asset.asset_id %}" class="btn btn-danger">Delete</a>
								{% endif %}
							</td>
					{% endif %}
				</tr>
			{% endfor %}
        </tbody>
    </table>

{% endif %}

<h3> Original Request Information </h3>
				<table id="inventory-request" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		            <th>Requested By:</th>
					<th>Quantity:</th>
					<th>User Reason:</th>
					<th>Admin Comment:</th>
					<th>Time Requested:</th>
					<th>Type:</th>
					<th>Status:</th>
					</tr>
		        </thead>
		        <tbody>
		        	{% if loan.orig_request %}
		        		<tr>
		        			<td>{{loan.orig_request.user_id}}</td>
							<td>{{ loan.orig_request.request_quantity}}</td>
							<td>{{ loan.orig_request.reason}}</td>
							<td>{{ loan.orig_request.comment }}</td>
							<td>{{ loan.orig_request.time_requested }}</td>
							<td>{{ loan.orig_request.type}}</td>
							<td>{{loan.orig_request.status}}</td>
						</tr>
					{%else%}
					<tr> 
					<td colspan="7" style="text-align:center;">No original request data available.</td>
					</tr>
					{% endif %}
		        </tbody>
		    </table>


{% if loan.backfill_status != 'None' %}
<h3> Backfill Information </h3>
		    <table id="loan-backfill-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		            <th>Backfill Status:</th>
					<th>Backfill Quantity</th>
					<th>Proof Of Purchase:</th>
					<th>Time Requested:</th>
					{% if user.is_staff %}
						{% if loan.backfill_status == "Requested" or loan.backfill_status == "In Transit" %}
							<th>Actions:</th>
						{% endif %}
					{% endif %}
					</tr>
		        </thead>
		        <tbody>
		        		<tr>
		        			<td>{{loan.backfill_status}}</td>
							<td>{{loan.backfill_quantity}}</td>
							<td><a href={{loan.backfill_pdf.url}} target="_blank">{{file_name}}</a></td>
							<td>{{loan.backfill_time_requested}}</td>
							{% if user.is_staff %}
								{% if loan.backfill_status == "Requested"%}
									<td>
										{% block comment_accept_backfill %}
				                        	<a id = "accept-backfill" loan-id="{{ loan.loan_id }}" class="accept-backfill btn btn-success">Approve</a>
				                        {% endblock comment_accept_backfill %}
				                        {% block comment_deny_backfill %}
				                        	<a id = "deny-backfill" loan-id="{{ loan.loan_id }}" class="deny-backfill btn btn-warning">Deny</a>
				                        {% endblock comment_deny_backfill %}
									</td>
								{% endif %}
								{% if loan.backfill_status == "In Transit" %}
									<td>
				                    	{% if loan.item_name.is_asset %}
					                    	{% block comment_complete_backfill_asset %}
					                        	<a id = "complete-backfill-asset" loan-id="{{ loan.loan_id }}" class="complete-backfill-asset btn btn-success">Approve</a>
					                        {% endblock comment_complete_backfill_asset %}
					                    {% else %}
					                    	{% block comment_complete_backfill %}
					                        	<a id = "complete-backfill" loan-id="{{ loan.loan_id }}" class="complete-backfill btn btn-success">Approve</a>
					                        {% endblock comment_complete_backfill %}
					                    {% endif %}
				                        {% block comment_fail_backfill %}
				                        	<a id = "fail-backfill" loan-id="{{ loan.loan_id }}" class="fail-backfill btn btn-warning">Fail</a>
				                        {% endblock comment_fail_backfill %}
                    				</td>
								{% endif %}
							{% endif %}
						</tr>
		        </tbody>
		    </table>
		    
		    
	{% if user.is_staff %}
		{% block backfill_add_notes %}
	    	<a id = "backfill-add-notes" loan-id="{{ loan.loan_id }}" class="backfill-add-notes btn btn-success">Add Notes</a>
	    {% endblock backfill_add_notes %}
		<h3>Notes about this backfill:</h3>
		<div>{{loan.backfill_notes}}</div>
	{% endif %}
{% endif %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{############################# CHECK IN MODAL LOGIC ##############################}
<div id="form-modal-checkIn" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Check In Loan</h4>
            </div>
            <div id="form-modal-body-checkIn" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-checkIn %}
<script>
    $('.checkIn').click(function() {
    	loan_id = $(this).attr("loan-id"); 
        $('#form-modal-body-checkIn').load(('../../../customadmin/checkIn/loan/'+loan_id), function () {
            $('#form-modal-checkIn').modal('toggle');
        });
    });
</script>
{% endblock js-checkIn %}

{############################# CHECK IN WITH SPECIFIC ASSETS MODAL LOGIC ##############################}
<div id="form-modal-checkIn-assets" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Check In Loan</h4>
            </div>
            <div id="form-modal-body-checkIn-assets" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
{% block js-checkIn-assets %}
<script>
    $('.checkIn-assets').click(function() {
    	loan_id = $(this).attr("loan-id"); 
        $('#form-modal-body-checkIn-assets').load(('../../../customadmin/checkin_with_assets/loan/'+loan_id), function () {
            $('#form-modal-checkIn-assets').modal('toggle');
        });
    });
</script>
{% endblock js-checkIn-assets %}

{############################# EDIT LOAN MODAL LOGIC ##############################}
<div id="form-modal-editLoan" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Loan</h4>
            </div>
            <div id="form-modal-body-editLoan" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-editLoan %}
<script>
    $('.editLoan').click(function() {
    	loan_id = $(this).attr("loan-id"); 
        $('#form-modal-body-editLoan').load(('../../../customadmin/edit/loan/'+loan_id), function () {
            $('#form-modal-editLoan').modal('toggle');
        });
    });
</script>
{% endblock js-editLoan %}

{############################# CONVERT LOAN MODAL LOGIC ##############################}
<div id="form-modal-convert" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Convert Loan</h4>
            </div>
            <div id="form-modal-body-convert" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-convert %}
<script>
    $('.convert').click(function() {
    	loan_id = $(this).attr("loan-id"); 
        $('#form-modal-body-convert').load(('../../../customadmin/convert/loan/'+loan_id), function () {
            $('#form-modal-convert').modal('toggle');
        });
    });
</script> 
{% endblock js-convert %}

{############################# CONVERT LOAN WITH ASSETS MODAL LOGIC ##############################}
<div id="form-modal-convert-with-assets" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Convert Loan</h4>
            </div>
            <div id="form-modal-body-convert-with-assets" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
{% block js-convert-assets %}
<script>
    $('.convert-assets').click(function() {
    	loan_id = $(this).attr("loan-id"); 
        $('#form-modal-body-convert-with-assets').load(('../../../customadmin/convert_with_assets/loan/'+loan_id), function () {
            $('#form-modal-convert-with-assets').modal('toggle');
        });
    });
</script> 
{% endblock js-convert-assets %}

{############################# BACKFILL REQUEST MODAL LOGIC ##############################}
<div id="form-modal-backfillRequest" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Backfill Request</h4>
            </div>
            <div id="form-modal-body-backfillRequest" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-backfillRequest %}
<script>
    $('.backfillRequest').click(function() {
    	loan_id = $(this).attr("loan-id"); 
        $('#form-modal-body-backfillRequest').load(('../../../customadmin/backfill/from/loan/'+loan_id+'/'), function () {
            $('#form-modal-backfillRequest').modal('toggle');
        });
    });
</script>
{% endblock js-backfillRequest %}

{############################# BACKFILL ACCEPT + COMMENT MODAL LOGIC ##############################}
<div id="form-modal-accept-backfill" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comment for Backfill Accept</h4>
            </div>
            <div id="form-modal-body-accept-backfill" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
{% block js-approve-backfill %}
<script>
    $('.accept-backfill').click(function() {
    	loan_id = $(this).attr("loan-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-accept-backfill').load(('../../../customadmin/backfill/accept/addcomment/'+loan_id), function () {
        	$('#formID-comment-accept-backfill').attr("loan-comment", loan_id);
            $('#form-modal-accept-backfill').modal('toggle');
        });
    });
</script>
{% endblock js-approve-backfill %}

{############################# BACKFILL DENY + COMMENT MODAL LOGIC ##############################}
<div id="form-modal-deny-backfill" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comment for Backfill Deny</h4>
            </div>
            <div id="form-modal-body-deny-backfill" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
{% block js-deny-backfill %}
<script>
    $('.deny-backfill').click(function() {
    	loan_id = $(this).attr("loan-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-deny-backfill').load(('../../../customadmin/backfill/deny/addcomment/'+loan_id), function () {
        	$('#formID-comment-deny-backfill').attr("loan-comment", loan_id);
            $('#form-modal-deny-backfill').modal('toggle');
        });
    });
</script>
{% endblock js-deny-backfill %}

{############################# BACKFILL COMPLETE WITH ASSET + COMMENT MODAL LOGIC ##############################}
<div id="form-modal-complete-backfill-asset" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comment for Backfill Completion</h4>
            </div>
            <div id="form-modal-body-complete-backfill-asset" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
{% block js-complete-backfill-asset %}
<script>
    $('.complete-backfill-asset').click(function() {
    	loan_id = $(this).attr("loan-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-complete-backfill-asset').load(('../../../customadmin/backfill/complete/addcomment/asset/'+loan_id), function () {
        	$('#formID-comment-complete-backfill-asset').attr("loan-comment", loan_id);
            $('#form-modal-complete-backfill-asset').modal('toggle');
        });
    });
</script>
{% endblock js-complete-backfill-asset %}

{############################# BACKFILL COMPLETE + COMMENT MODAL LOGIC ##############################}
<div id="form-modal-complete-backfill" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comment for Backfill Completion</h4>
            </div>
            <div id="form-modal-body-complete-backfill" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
{% block js-complete-backfill %}
<script>
    $('.complete-backfill').click(function() {
    	loan_id = $(this).attr("loan-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-complete-backfill').load(('../../../customadmin/backfill/complete/addcomment/'+loan_id), function () {
        	$('#formID-comment-complete-backfill').attr("loan-comment", loan_id);
            $('#form-modal-complete-backfill').modal('toggle');
        });
    });
</script>
{% endblock js-complete-backfill %}

{############################# BACKFILL FAIL + COMMENT MODAL LOGIC ##############################}
<div id="form-modal-fail-backfill" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comment for Backfill Failure</h4>
            </div>
            <div id="form-modal-body-fail-backfill" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
{% block js-fail-backfill %}
<script>
    $('.fail-backfill').click(function() {
    	loan_id = $(this).attr("loan-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-fail-backfill').load(('../../../customadmin/backfill/fail/addcomment/'+loan_id), function () {
        	$('#formID-comment-fail-backfill').attr("loan-comment", loan_id);
            $('#form-modal-fail-backfill').modal('toggle');
        });
    });
</script>
{% endblock js-fail-backfill %}

{############################# BACKFILL NOTES MODAL LOGIC ##############################}
<div id="form-modal-backfill-add-notes" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Backfill Notes</h4>
            </div>
            <div id="form-modal-body-backfill-add-notes" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal --> 
{% block js-backfill-add-notes %}
<script>
    $('.backfill-add-notes').click(function() {
    	loan_id = $(this).attr("loan-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-backfill-add-notes').load(('../../../customadmin/backfill/add/notes/'+loan_id), function () {
        	$('#formID-comment-backfill-add-notes').attr("loan-comment", loan_id);
            $('#form-modal-backfill-add-notes').modal('toggle');
        });
    });
</script>
{% endblock js-backfill-add-notes %}

{############################# ASSET EDIT MODAL LOGIC ##############################}
<div id="form-modal-assetEdit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Asset Edit</h4>
            </div>
            <div id="form-modal-body-assetEdit" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-assetEdit %}
<script>
    $('.assetEdit').click(function() {
    	asset_id = $(this).attr("asset-id");
        $('#form-modal-body-assetEdit').load(('../../../customadmin/asset/edit/'+asset_id), function () {
            $('#form-modal-assetEdit').modal('toggle');
        });
    });
</script>
{% endblock js-assetEdit %}

{############################# ASSET LOG MODAL LOGIC ##############################}
<div id="form-modal-assetLog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Asset Log</h4>
			</div>
			<div id="form-modal-body-assetLog" class="modal-body">
				<p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-assetLog %}
<script>
    $('.assetLog').click(function() {
    	asset_id = $(this).attr("asset-id");
        $('#form-modal-body-assetLog').load(('../../../customadmin/destroy/asset/'+asset_id), function () {
            $('#form-modal-assetLog').modal('toggle');
        });
    });
</script>
{% endblock js-assetLog %}


{% endblock %}