{% block title %}Login{% endblock %}

{% block content %}
<html>
<script>
  var access_token = null;
  
  var getAccessToken = function() {
  	var url = window.location.href;
  	var regex = new RegExp("access_token" + "(=([^&#]*)|&|#|$)"),
  	results = regex.exec(url);
  	if (results == null) 
  		return 0;
  	return results[2];
  };
  
  var checkAccessToken = function() {
   access_token = getAccessToken();
   console.log(access_token);
   if (!access_token) {
       window.location.replace(OAUTH_URL + getQueryString());
   }
   var url = '{% url 'check_OAuth_login' %}?token='+access_token;
   return url
};

$(document).ready(function() {
 checkAccessToken();
 $("#post").click(postEvent);
});
</script>
<input type="hidden" id='login' name='login' value='Login using netid' onclick="location.href=checkAccessToken();" class="save btn btn-default"></button>
<body onload="document.getElementById('login').click();">
</html>
{% endblock %}