{% extends my_template %} 

{% load rest_framework %}
{% load static %}
{% load index %}
{% block content %}

<center> <h1>  Request for: {{ request.item_name }} </h1> </center> 
<center> <h3>  Quantity Remaining: {{ request.item_name.quantity }} </h3> </center> 

{% if request.status == "Pending"%}
<center> <h1 style="color:gold">  Status: {{ request.status }} </h1> </center> 
{% endif %}
{% if request.status == "Approved"%}
<center> <h1 style="color:green">  Status: {{ request.status }} </h1> </center> 
{% endif %}
{% if request.status == "Denied"%}
<center> <h1 style="color:red">  Status: {{ request.status }} </h1> </center> 
{% endif %}

			</table>
				<table id="inventory-request-pending" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		            <th>Requested By:</th>
					<th>Quantity:</th>
					<th>Type:</th>
					<th>Reason:</th>
					<th>Admin Comment:</th>
					<th>Time Requested:</th>
				</tr>
		        </thead>
		        <tbody>
		        		<tr>
		        			<td>{{request.user_id}}</td>
							<td>{{ request.request_quantity}}</td>
							<td>{{request.type}}</td>
							<td>{{ request.reason}}</td>
							<td>{{ request.comment }}</td>
							<td>{{ request.time_requested }}</td>
						</tr>
		        </tbody>
		    </table>
		    
<br/>
	{% if request.status == "Pending" %}
	
	{% block requestEdit %}
			<a id = "requestEdit" request-id="{{ request.request_id }}" class="requestEdit btn btn-primary">Edit This Request</a>	
	{% endblock requestEdit %}
	
	{% if user.is_staff %}
	{% block comment_accept %}
			<a id = "accept" request-id="{{ request.request_id }}" class="accept btn btn-success">Approve This Request</a>
	{% endblock comment_accept %}
	{% block comment_deny %}
			<a id = "deny" request-id="{{ request.request_id }}" class="deny btn btn-warning">Deny This Request</a>	
	{% endblock comment_deny %}
	{% endif %}
	
	{% if request.user_id == current_user%}
		<button type="submit" class="btn btn-danger btn-md" onclick="return confirm('Are you sure you want to CANCEL this request?')" value="Cancel" name="cancel">Cancel Request</button>
	{% endif %}
	
	{%endif%}
	
<br/>
	
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	
{############################# REQUEST DENIAL COMMENT MODAL LOGIC ##############################}
<div id="form-modal-deny" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comment for Request Deny</h4>
            </div>
            <div id="form-modal-body-deny" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-deny %}
<script>
    $('.deny').click(function() {
    	request_id = $(this).attr("request-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-deny').load(('../../customadmin/request/deny/addcomment/'+request_id), function () {
        	$('#formID-comment-deny').attr("request-comment", request_id);
            $('#form-modal-deny').modal('toggle');
        });
    });
</script>
{% endblock js-deny %}

{############################# REQUEST ACCEPT COMMENT MODAL LOGIC ##############################}
<div id="form-modal-accept" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comment for Request Accept</h4>
            </div>
            <div id="form-modal-body-accept" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-approve %}
<script>
    $('.accept').click(function() {
    	request_id = $(this).attr("request-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-accept').load(('../../customadmin/request/accept/addcomment/'+request_id), function () {
        	$('#formID-comment-accept').attr("request-comment", request_id);
            $('#form-modal-accept').modal('toggle');
        });
    });
</script>
{% endblock js-approve %}

{############################# REQUEST EDIT MODAL LOGIC ##############################}
<div id="form-modal-requestEdit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Request</h4>
            </div>
            <div id="form-modal-body-requestEdit" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
{% block js-requestEdit %}
<script>
    $('.requestEdit').click(function() {
    	request_id = $(this).attr("request-id"); // should give me request_id to pass into modal / form
        $('#form-modal-body-requestEdit').load(('../../request_edit/'+request_id), function () {
            $('#form-modal-requestEdit').modal('toggle');
        });
    });
</script>
{% endblock js-requestEdit %}
	
{% endblock %}