{% extends 'inventory/base.html' %} 
{#put this at the top so that the base template is "base.html"#}

{% block content %}

<h1>Are you sure you want to cancel the following request? </h1>
<h2>Request for: {{ request.item_name }}</h2>
<h2>Quantity: {{request.request_quantity}}</h2>
<h2>Reason for Request: {{request.reason}}</h2>
<h2>Status: {{request.status}}</h2>
<h2>Admin Comment: {{request.comment}}</h2>
<h2>Time Requested: {{request.time_requested}}</h2>
<h2>Request Id: {{request.request_id}}</h2>

<a href="{% url 'inventory:request_cancel_yes' request.request_id %}" class="top-menu"> Yes </a>
<br>
<a href="{% url 'inventory:request_cancel_no' request.request_id %}" class="top-menu"> No </a>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	
{% endblock %}