{% extends 'custom_admin/base.html' %}  
{% load static %}
{#put this at the top so that the base template is "base.html"#}

{% block content %}

<center> <h1>  Request for: {{ request.item_name }} </h1> </center> 
{% if request.status == "Pending"%}
<center> <h1 style="color:gold">  Status: {{ request.status }} </h1> </center> 
{% endif %}
{% if request.status == "Approved"%}
<center> <h1 style="color:green">  Status: {{ request.status }} </h1> </center> 
{% endif %}
{% if request.status == "Denied"%}
<center> <h1 style="color:red">  Status: {{ request.status }} </h1> </center> 
{% endif %}

			</table>
				<table id="inventory-request-pending" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		        <thead>
		            <tr>
					<th>Quantity:</th>
					<th>Reason:</th>
					<th>Admin Comment:</th>
					<th>Time Requested:</th>
				</tr>
		        </thead>
		        <tbody>
		        		<tr>
							<td>{{ request.request_quantity }}</td>
							<td>{{ request.reason}}</td>
							<td>{{ request.comment }}</td>
							<td>{{ request.time_requested }}</td>
						</tr>
		        </tbody>
		    </table>
		    
<br/>
	
	{% if request.status == "Pending" %}
	
		 <h2>Edit This Request </h2>
		  Change the parameters below and hit the resubmit button to update this request.
		 <br/>
		 <br/>
		 
 	<form method="POST" class="post-form">{% csrf_token %}
		{{form.request_quantity.label}}:{{ form.request_quantity }}
		<br/>
		<br/>
		{{form.reason.label}}:{{ form.reason}}
		<br/>
		<br/>
		<button type="submit" class="btn btn-primary btn-md" value="Edit" onclick="return confirm('Are you sure you want to edit this tag?')" name="edit">Submit Request Edits</button>
		<br/>
		<br/>
		{% if user.is_staff %}
		<h2>Handle This Request </h2>
		 Add a comment to this request.
		<br/>
		<br/>
		{{form.comment.label}}:{{ form.comment }}
		<br/>
		<br/>
		<button type="submit" class="btn btn-success btn-md" onclick="return confirm('Are you sure you want to APPROVE this request?')" value="Approve" name="approve">Approve Request</button>
		<button type="submit" class="btn btn-warning btn-md" onclick="return confirm('Are you sure you want to DENY this request?')" value="Deny" name="deny">Deny Request</button>
		{%endif%}
		{% if request.user_id == current_user%}
		<button type="submit" class="btn btn-danger btn-md" onclick="return confirm('Are you sure you want to CANCEL this request?')" value="Cancel" name="cancel">Cancel Request</button>
		{% endif %}
	</form>
	
	{%endif%}
<br/>

	
	
	
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	
	
{% endblock %}