{% extends 'inventory/base.html' %} 
{#put this at the top so that the base template is "base.html"#}
{% load rest_framework %}
{% load static %}

{% block content %}

<h2>Search Form</h2>
 
<form id="search-form">
    <label>Included Tags:</label>
    <select id="included-tags" class="js-example-basic-multiple" multiple="multiple">
    {% for tag in tags %} 
    	<option value={{ tag.id }}>{{ tag.tag }}</option>
    {% endfor %}
	</select>
	<label>Excluded Tags:</label>
	<select id="excluded-tags" class="js-example-basic-multiple" multiple="multiple">
    {% for tag in tags %} 
    	<option value={{ tag.id }}>{{ tag.tag }}</option>
    {% endfor %}
	</select>
    <input type="submit"/>
</form>

<table id="inventory-search" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
<thead>
    <tr>
	<th>Item Name</th>
	<th>Quantity</th>
	<th>Item Model Number</th>
	<th>Item Description</th>
{#	{% for field in custom_fields%}#}
{#		<th>{{field.field_name}}</th>#}
{#	{% endfor %}#}
</tr>
</thead>
<tbody>
{#		<tr>#}
{#			<td><a href="{% url 'inventory:detail' item.item_id %}">{{ item.item_name }}</a></td>#}
{#			<td>{{ item.quantity }}</td>#}
{#			<td>{{ item.model_number }}</td>#}
{#			<td>{{ item.description }}</td>#}
{#			{% for field in custom_fields%}#}
{#				<td default = "">#}
{#				{% for value in custom_vals%}#}
{#					{% if value.item == item and value.field == field %}#}
{#							{% if field.field_type == "Short"%}#}
{#								{{value.field_value_short_text}}#}
{#							{% endif %}#}
{#							{% if field.field_type == "Long"%}#}
{#								{{value.field_value_long_text}}#}
{#							{% endif %}#}
{#							{% if field.field_type == "Int"%}#}
{#								{% if value.field_value_integer != None%}#}
{#									{{value.field_value_integer}}#}
{#								{% else %}#}
{#									{{""}}#}
{#								{% endif %}#}
{#							{% endif %}#}
{#							{% if field.field_type == "Float"%}#}
{#								{% if value.field_value_floating != None%}#}
{#									{{value.field_value_floating}}#}
{#								{% else %}#}
{#									{{""}}#}
{#								{% endif %}#}
{#							{% endif %}#}
{#					{% endif %}#}
{#				{% endfor %}#}
{#				</td>#}
{#			{% endfor %}#}
{#		</tr>#}
</tbody>
</table>


<script>
$('#included-tags').select2(); // making multiple select
$('#excluded-tags').select2(); // making multiple select
get_search_data(); // initialize item data
$('#search-form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    get_search_data();
});

function get_search_data() {
	var data = '';
	var included_tags = $('#included-tags').select2('val');
	var excluded_tags = $('#excluded-tags').select2('val')
	if (included_tags && !excluded_tags) {
		console.log("included!");
		for(i in included_tags) {
			data += 'included_tags=' + included_tags[i]+'&';
		}
	} else if (!included_tags && excluded_tags) { 
		console.log("excluded!");
		for(i in excluded_tags) {
			data += 'excluded_tags=' + excluded_tags[i] + '&';
		}
	} else if (included_tags && excluded_tags) { 
		console.log("both!");
		for(i in included_tags) {
			data += 'included_tags=' + included_tags[i] + '&';
		}
		for(i in excluded_tags) {
			data += 'excluded_tags=' + excluded_tags[i] + '&';
		}
	}
	console.log(data);
    $.ajax({
        url : '{% url 'inventory:api_item_list' %}',
        type : "GET", // http method
        data : data,
        success : function(json) {
            $('#item_name').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
        	$('#inventory-search').dataTable().fnClearTable();
         	for(i in json) {
         		$('#inventory-search').dataTable().fnAddData( [
			        "<a href=\"" + "/item"+"/"+json[i].item_id+"\">"+json[i].item_name+"</a></td>",
			        json[i].quantity,
			        json[i].model_number,
			        json[i].description ] );
        	}
        },
        error : function(xhr,errmsg,err) {
            //$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
            //    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
$(document).ready(function(){
	    $('#inventory-search').dataTable();
	});
</script>
{% endblock %}